# Environments & Secrets
.env
.streamlit/secrets.toml
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE & Editor
.vscode/
.idea/
*.swp

# Testing & Logs
*.log
.pytest_cache/
